# Terraform
**/.terraform/*
**/terraform.tfstate
**/terraform.tfstate.*
crash.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Cache files for Python testing
.pytest_cache/

# Cache files for Python
__pycache__/